@model Contact_List.ViewModels.ContactsViewModel


@*@using (Html.BeginForm("DeleteContact", "Contacts", FormMethod.Post))
{*@

<div>
    @Html.ActionLink("Create", "CreateNewContact", null, new { @class = "btn btn-success" })
</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.Contacts.First().Name)</th>
                <th>@Html.LabelFor(m => m.Contacts.First().Surname)</th>
                <th>@Html.LabelFor(m => m.Contacts.First().Phone)</th>
                <th>@Html.LabelFor(m => m.Contacts.First().Email)</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Contacts.Count; ++i)
        {
        <tr>
            @*<td>
                @Html.CheckBoxFor(m => m.Contacts[i].Checked)
            </td>*@
            <td>
                @Model.Contacts[i].Name
            </td>
            <td>
                @Model.Contacts[i].Surname
            </td>
            <td>
                @Model.Contacts[i].Phone
            </td>
            <td>
                @Model.Contacts[i].Email
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContact", new { @contactID = Model.Contacts[i].Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteContact", new { @contactID = Model.Contacts[i].Id})
            </td>
        </tr>
        }
    </table>

    @*<div>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>*@

@*}*@