@model Contact_List.ViewModels.ContactsViewModel


<div>
    @Html.ActionLink("Create new contact", "CreateNewContact", null, new { @class = "btn btn-success" })
</div>

<table id="contactsTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Contacts", new { @orderBy = "name", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
            <th>
                @Html.ActionLink("Surname", "Contacts", new { @orderBy = "surname", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
            <th>
                @Html.ActionLink("Phone", "Contacts", new { @orderBy = "phone", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
            <th>
                @Html.ActionLink("Email", "Contacts", new { @orderBy = "email", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
            <th>
                @Html.ActionLink("CreatedOn", "Contacts", new { @orderBy = "createon", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
            <th>
                @Html.ActionLink("ModifiedOn", "Contacts", new { @orderBy = "modifiedon", order = Model.CurrentOrder == "asc" ? "desc" : "asc" })
            </th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Contacts.Count; ++i)
    {
        <tr>
            <td>
                @Model.Contacts[i].Name
            </td>
            <td>
                @Model.Contacts[i].Surname
            </td>
            <td>
                @Model.Contacts[i].Phone
            </td>
            <td>
                @Model.Contacts[i].Email
            </td>
            <td>
                @Model.Contacts[i].CreatedOn
            </td>
            <td>
                @Model.Contacts[i].ModifiedOn
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContact", new { @contactID = Model.Contacts[i].Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteContact", new { @contactID = Model.Contacts[i].Id }, new { @id = "DeleteContact" })
            </td>
        </tr>
    }
</table>

<div class="pagination">
    @for (int i = Model.NumberOfPaginationPages.First(); i <= Model.NumberOfPaginationPages.Last(); ++i)
    {
        if (Model.TotalNumberOfContacts <= 10)
        {
            break;
        }

        if (i == Model.CurrentPage)
        {
            @Html.ActionLink(i + "", "Contacts", "Contacts", new { currentPage = i, order = Model.CurrentOrder }, new { id = "currentPage" })
        }
        else
        {
            @Html.ActionLink(i + "", "Contacts", "Contacts", new { currentPage = i, order = Model.CurrentOrder }, null)
        }
    }
</div>


