@model Contact_List.Models.Contact
@using Contact_List.LanguageResources

<h3>@Default.Label_EditContact</h3>

@using (Html.BeginForm("EditContact", "Contacts", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.Surname)
            @Html.ValidationMessageFor(model => model.Surname, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.Phone)
            @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>

        <div>
            @Html.LabelFor(m => m.Email)
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        @Html.HiddenFor(m => m.Id)

    </div>

    <input type="submit" class="btn btn-success" value=@Default.ActionLink_Update />
}
